[Desktop Entry]
Encoding=UTF-8
Name=Link para Contém uma imagem de: low-frequency-sine-waves-on-oscilloscope-dorling-kindersleyuig.jpg | Are.na
Type=Link
URL=https://br.pinterest.com/pin/623467142187591274/
Icon=text-html
